<div class="container">
    <div class="container-element-one">
        <div class="section-text">
            <span>Criei o método que vai colocar R$100.000 no seu bolso em 2024. Validado por mais de 1000 de
                alunos</span>
            <p>Assista ao vídeo abaixo e entenda em detalhes como você também pode fazer isso.</p>
        </div>
        <div class="section-video">
            <iframe width="900" height="500" src="https://www.youtube.com/embed/21mDekTZwsw?si=AQ29tgX-Y83aJF3H"
                title="YouTube video player" [frameBorder]="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
             gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
    <div class="container-element-two">
        <div class="section-presentation">
            <div>
                <img src="assets\img\pexels-travel.jpg" width="400">
            </div>
            <div class="section-text">
                <h1>A primeira e única comunidade do Brasil</h1>
                <span> Você está prestes a entrar em algo sem paralelo no Brasil.
                    Uma comunidade que vai fazer você ganhar dinheiro,
                    independente do resultado.
                    <p>Se você assistiu ao vídeo completo, entendeu como isso é possível.
                    </p>

                    <p>O problema é que tradicional demanda um alto caixa para ser lucrativo.</p>

                    <p>Fato que é resolvido com o meu método, que une à mente, o corpo.
                    </p>

                    <p>E aí, bora fazer dinheiro de verdade e parar de perder dinheiro para o Tigrinho ou qualquer outra
                        maracutaia que te apresentam? A decisão é sua. Espero por você!</p>
                </span>
            </div>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
</div>