<div class="container">
    <div class="container-element-video">
        <div class="section-text">
            <span>Criei o método que vai colocar R$100.000 no seu bolso em 2024. Validado por mais de 1000 de
                alunos</span>
            <p>Assista ao vídeo abaixo e entenda em detalhes como você também pode fazer isso.</p>
        </div>
        <div class="section-video">
            <iframe width="900" height="500" src="https://www.youtube.com/embed/21mDekTZwsw?si=AQ29tgX-Y83aJF3H"
                title="YouTube video player" [frameBorder]="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
             gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
    <div class="container-element-photo">
        <div class="section-presentation">
            <div>
                <img src="assets\img\pexels-travel.jpg" width="400">
            </div>
            <div class="section-text">               
                <h1>A primeira e única comunidade do Brasil! </h1>
                <span> Você está prestes a entrar em algo sem paralelo no Brasil.
                    Uma comunidade que vai fazer você ganhar dinheiro,
                    independente do resultado.
                    <p>Se você assistiu ao vídeo completo, entendeu como isso é possível.
                    </p>

                    <p>O problema é que tradicional demanda um alto caixa para ser lucrativo.</p>

                    <p>Fato que é resolvido com o meu método, que une à mente, o corpo.
                    </p>

                    <p>E aí, bora fazer dinheiro de verdade e parar de perder dinheiro para o Tigrinho ou qualquer outra
                        maracutaia que te apresentam? A decisão é sua. Espero por você!</p>
                </span>
            </div>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
    <div class="container-element-icons">
        <div class="element-presentation">
            <div class="section-element-container">
                <img alt="" src="\assets\img\curso-online.png">
                <h4> Curso + Bônus </h4>
                <p> <span>
                        Mais de 100 aulas disponíveis explicando toda
                        a metodologia e apresentando as melhores casas
                        de apostas para realizar as operações.
                    </span></p>
            </div>
            <div class="section-element-container">
                <img class="" alt="" src="\assets\img\responsivo.png">
                <h4> Plataforma </h4>
                <p> <span>
                        A plataforma foi desenvolvida para trazer à você mais velocidade e assertividade.
                        Através dela, você terá acesso em tempo real às
                        melhores oportunidades de realizar, além de poder simular quais serão seus
                        ganhos, de acordo com os possíveis cenários e valor
                        disponíveis.
                    </span></p>
            </div>
        </div>
        <div class="element-presentation">
            <div class="section-element-container">
                <img class="" alt="" src="\assets\img\discordia.png">
                <h4> Comunidade no Discord </h4>
                <p> <span>
                        - Suporte individualizado, Moderação da Comunidade,
                        Envio de tips (promoções, bônus), Interação com outros membros
                    </span></p>
            </div>
            <div class="section-element-container">
                <img class="" alt="" src="\assets\img\4k.png">
                <h4> TV do Bônus </h4>
                <p> <span>
                        Streaming com menos delay que a TV,
                        para você acompanhar os lances que quiser.
                        (Não que você precise disso para ganhar dinheiro)
                    </span></p>
            </div>
        </div>
    </div>
    <div class="container-element-carrossel">
        <div class="container-element-carrosse-alinha">
            <div class="section-titulo">
                <h2>
                    +700 alunos ativos, satisfeitos e fazendo
                    dinheiro todos os dias
                </h2>
            </div>
            <div class="section-carrossel">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="\assets\img\istockphoto-1357.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="\assets\img\istockphoto-1187.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="\assets\img\istockphoto-1698.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
</div>