<div class="container">
    <div class="container-element-video">
        <div class="section-text">
            <span>Criei o método que vai colocar <strong> $100.000 no seu bolso em 2024 </strong>. Validado por mais de 1000 de
                alunos</span>
            <p>Assista ao vídeo abaixo e entenda em detalhes como você também pode fazer isso.</p>
        </div>
        <div class="section-video">
            <iframe width="900" height="500" src="https://www.youtube.com/embed/21mDekTZwsw?si=AQ29tgX-Y83aJF3H"
                title="YouTube video player" [frameBorder]="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
             gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
    <div class="container-element-photo">
        <div class="section-presentation">
            <div>
                <img src="assets\img\pexels-travel.jpg" width="400">
            </div>
            <div class="section-text">
                <h1>A primeira e única comunidade do Brasil! </h1>
                <span> Você está prestes a entrar em algo sem paralelo no Brasil.
                    Uma comunidade que vai fazer você ganhar dinheiro,
                    independente do resultado.
                    <p>Se você assistiu ao vídeo completo, entendeu como isso é possível.
                    </p>

                    <p>O problema é que tradicional demanda um alto caixa para ser lucrativo.</p>

                    <p>Fato que é resolvido com o meu método, que une à mente, o corpo.
                    </p>

                    <p>E aí, bora fazer dinheiro de verdade e parar de perder dinheiro para o Tigrinho ou qualquer outra
                        maracutaia que te apresentam? A decisão é sua. Espero por você!</p>
                </span>
            </div>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
    <div class="container-element-icons">
        <div class="element-presentation">
            <div class="section-element-container">
                <img alt="" src="\assets\img\curso-online.png">
                <h4> Curso + Bônus </h4>
                <p> <span>
                        Mais de 100 aulas disponíveis explicando toda
                        a metodologia e apresentando as melhores casas
                        de apostas para realizar as operações.
                    </span></p>
            </div>
            <div class="section-element-container">
                <img class="" alt="" src="\assets\img\responsivo.png">
                <h4> Plataforma </h4>
                <p> <span>
                        A plataforma foi desenvolvida para trazer à você mais velocidade e assertividade.
                        Através dela, você terá acesso em tempo real às
                        melhores oportunidades de realizar, além de poder simular quais serão seus
                        ganhos, de acordo com os possíveis cenários e valor
                        disponíveis.
                    </span></p>
            </div>
        </div>
        <div class="element-presentation">
            <div class="section-element-container">
                <img class="" alt="" src="\assets\img\discordia.png">
                <h4> Comunidade no Discord </h4>
                <p> <span>
                        - Suporte individualizado, Moderação da Comunidade,
                        Envio de tips (promoções, bônus), Interação com outros membros
                    </span></p>
            </div>
            <div class="section-element-container">
                <img class="" alt="" src="\assets\img\4k.png">
                <h4> TV do Bônus </h4>
                <p> <span>
                        Streaming com menos delay que a TV,
                        para você acompanhar os lances que quiser.
                        (Não que você precise disso para ganhar dinheiro)
                    </span></p>
            </div>
        </div>
    </div>
    <div class="container-element-carrossel">
        <div class="container-element-carrosse-alinha">
            <div class="section-titulo">
                <h2>
                    +700 alunos ativos, satisfeitos e fazendo
                    dinheiro todos os dias
                </h2>
            </div>
            <div class="section-carrossel">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="\assets\img\istockphoto-1357.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="\assets\img\istockphoto-1187.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="\assets\img\istockphoto-1698.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="section-button">
            <button type="button" class="btn" [routerLink]="['/']"> Quero fazer parte da comunidade </button>
        </div>
    </div>
    <div class="container-element-price">
        <div class="d-grid justify-content-center align-items-center p-2">
            <div class="section-title">
                <h2>Pode ser a sua última chance! </h2>
            </div>
            <div class="section-plans">
                <div class="section-plans-types">
                    <img class="d-block  mx-auto w-25 my-3" src="\assets\img\computador-portatil.png">
                    <div class="title py-3 mx-5">
                        PLANO TRIMESTRAL
                    </div>
                    <div class="text">
                        <div class="element-widget-container">
                            <ul class="element-icon-list-items">
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Curso Caçador de Bônus 2.0.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Super odds, missões da Betano, promoções
                                        e entradas secretas.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Bot de Entradas do Caçador 24h.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Suporte via chat de voz e via
                                        ticket.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Aulões com nosssos professores.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Sorteios para membros ativos.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Ficha técnica de todas as Casas do
                                        Método.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Dicas gerais.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Todas as futuras atualizações da
                                        comunidade do bônus.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="price">
                        <span class="m-auto"> Por apenas 3x:</span>
                        <h3 class="m-auto title-price"> R$ 245,89</h3>
                        <h5 class="m-auto">Ou R$ 697,00 á vista </h5>
                    </div>
                    <div class="section-button">
                        <button type="button" class="btn" [routerLink]="['/']"> Assinar agora
                        </button>
                    </div>
                </div>
                <div class="section-plans-types">
                    <img class="d-block mx-auto w-25 my-3" src="\assets\img\viagem.png">
                    <div class="title py-3 mx-5">
                        PLANO SEMESTRAL
                    </div>
                    <div class="text">
                        <div class="element-widget-container">
                            <ul class="element-icon-list-items">
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Curso Caçador de Bônus 2.0.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Super odds, missões da Betano, promoções
                                        e entradas secretas.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Bot de Entradas do Caçador 24h.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Suporte via chat de voz e via
                                        ticket.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Aulões com nosssos professores.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Sorteios para membros ativos.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Ficha técnica de todas as Casas do
                                        Método.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Dicas gerais.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Todas as futuras atualizações da
                                        comunidade do bônus.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="price">
                        <span class="m-auto"> Por apenas 3x:</span>
                        <h3 class="m-auto title-price"> R$ 183,37</h3>
                        <h5 class="m-auto">Ou R$ 997,00 á vista </h5>
                    </div>
                    <div class="section-button">
                        <button type="button" class="btn" [routerLink]="['/']"> Assinar agora
                        </button>
                    </div>
                </div>
                <div class="section-plans-types">
                    <img class="d-block mx-auto w-25 my-3" src="assets\img\recorrer.png">
                    <div class="title py-3 mx-5">
                        PLANO ANUAL
                    </div>
                    <div class="text">
                        <div class="element-widget-container">
                            <ul class="element-icon-list-items">
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Curso Caçador de Bônus 2.0.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Super odds, missões da Betano, promoções
                                        e entradas secretas.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text"> Bot de Entradas do Caçador 24h.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Suporte via chat de voz e via
                                        ticket.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Aulões com nosssos professores.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Sorteios para membros ativos.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Ficha técnica de todas as Casas do
                                        Método.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Dicas gerais.</span>
                                </li>
                                <li class="element-icon-list-item">
                                    <span class="element-icon-list">
                                        <i aria-hidden="true" class="bi bi-check"></i> </span>
                                    <span class="element-icon-list-text">Todas as futuras atualizações da
                                        comunidade do bônus.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="price">
                        <span class="m-auto"> Por apenas 3x:</span>
                        <h3 class="m-auto title-price"> R$ 129,45</h3>
                        <h5 class="m-auto">Ou R$ 1.297,00 á vista </h5>
                    </div>
                    <div class="section-button">
                        <button type="button" class="btn" [routerLink]="['/']"> Assinar agora
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-element-help">
        <div class="d-grid justify-content-center align-items-center p-2">
            <div class="section-title m-auto p-4">
                <h2>Dúvidas frequentes </h2>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <strong> O que é isso tudo? </strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Um conteúdo que vai te proporcionar uma transformação pessoal.</strong>
                            onde você irá aprender como se tornar um especialista em anúncios
                            utilizando a plataforma ADS.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong> Como vou receber o treinamento? </strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Você receberá o acesso instantâneo</strong> por e-mail com todas as vídeo aulas
                            contendo todo o passo.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong> Em quanto tempo vou ter resultados com o que vou aprender nesse treinamento?
                            </strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Alguns dias depois de começar.</strong> Você pode começar a ver
                            resultados no aprendizado com extrema rapidez...
                            Quanto mais você fizer disso parte de sua rotina diária,
                            mais rápido você vai obter os resultados que deseja.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong> O pagamento é seguro? </strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>O pagamento é 100% seguro</strong> e processado por uma empresa confiável,
                            além disso seus dados estão 100% seguros.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong> Terei suporte e atendimento? </strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Nós temos um <strong> atendimento especial na plataforma </strong> por nossos Gerentes Comerciais que vai
                            lhe fornecer todo
                            suporte necessário caso surja dúvidas, além de todo treinamento que receber também liberamos
                            um grupo de clientes <strong>no Telegram</strong> para acompanhamento.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-element-garantia">
        <div class="d-grid justify-content-center align-items-center p-2">
            <h5 class="m-auto"><strong> Todos os direitos reservados </strong> </h5>
            <span class="terms">
                <p>
                    Termos de Uso • Política de Privacidade 2023 Comunidade do bônus – Todos os direitos reservados.
                    Aviso
                    Legal: “Nenhuma informação contida neste produto deve ser interpretada como uma afirmação da
                    obtenção de
                    resultados. Qualquer referência ao desempenho passado ou potencial de uma estratégia abordada no
                    conteúdo não é, e não deve ser interpretada como uma recomendação ou como garantia de qualquer
                    resultado
                    específico.” Este site não é afiliado ao Facebook, Instagram, Google, Tiktok ou a qualquer entidade.
                    Depois que você sair do Facebook, Instagram, Google ou Tiktok a responsabilidade não é deles e sim
                    do
                    nosso site. Fazemos todos os esforços para indicar claramente e mostrar todas as provas do produto e
                    usamos resultados reais. Nós não vendemos o seu e-mail ou qualquer informação para terceiros. Jamais
                    fazemos nenhum tipo de spam. Esse produto é comercializado através da comunidade. A plataforma não
                    faz
                    controle editorial prévio dos produtos comercializados, tão menos avalia a tecnicidade e experiência
                    daqueles que os produzem. A existência de um produto e sua aquisição, através plataforma, não podem
                    ser
                    consideradas como garantia de qualidade de conteúdo e resultado, em qualquer hipótese. Ao
                    adquiri-lo, o
                    comprador declara estar ciente dessas informações. Os termos e políticas da comunidade podem ser
                    acessados
                    aqui, antes mesmo da conclusão da compra. </p>
            </span>
        </div>
    </div>
</div>